#flex {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    flex: 1 0 1;
    border: solid black 1px;
    height: 20px;
    width: 20px;
}

.hovering {
    background-color: rgb(0, 0, 0);
    opacity: 1;
}