#flex {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    flex: 1 0 1;
    border: solid black 2px;
    height: 50px;
    width: 50px;
}

.hover {
    
}